/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.btn {
  border: 0.3px solid;
  width: 80px;
  border-radius: 4px;
  margin: auto;
  margin-top: 16px;
  text-align: center;
  background-color: SlateGrey;
  padding: 5px;
}

.btn a {
  text-decoration: none;
  color: black;
}

input[type="text"] {
    display: block;
    width:100%;
    margin-top:10px;
    padding:10px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type="text"]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:10px 15px;
    background:lightblue;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#form-container {
  margin: auto;
  margin-top: 150px;
  width: 30%;
}

body {
  font-family: arial;
  hight: 100%;
}

.note{max-width: 80%; margin: 0 auto;}
